

ion-card {
  margin-top: 25%;
}

ion-card-header {
  padding: 0 !important;
  text-align: center;
}
ion-card-subtitle, p {
  background-color: #19d2b0;
  color: white;
  padding: 10px;
}
ion-card-title {
  padding: 10px;
}
ion-content{
  --background: #e4e4e4;
}
ion-button {
  background-color: #19d2b0;
  color: white;
}

span {
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
